
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


body { 
    background-color: #fcf8ec;
    color : #456268;
    display: flex;
    
}



.yoga-name { 

    font-family :'Raleway';
    color :black;
    font-weight: bold;
    width: auto;
    background-color: #d0e8f2; 
    display: flex;
    align-items: center;
    align-content: center;
}

.yoga-description { 

    font-family :'Raleway';
    display: flex;
    align-items: center;
    align-content: center;

}

.yoga-benefits {

    color: #79a3b1;
    font-family : 'Raleway', helvetica, sans-seri; 

    font-weight: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
}

