body { 
    background-color: #fcf8ec;
    color : #456268;
    display: flex;
    
}



.yoga-name { 

    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color :black;
    font-weight: 4rem;
    width: auto;
    background-color: #d0e8f2; 
    display: flex;
    align-items: center;
    align-content: center;
}


.yoga-benefits {
    
    color: #79a3b1;

    font-weight: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
}

